@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  font-size: 10px;
  font-family: 'Lexend Deca', sans-serif;
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
}

.container {
  display: flex;
  width: 920px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
}

/********************** MAIN **********************/

.left, .mid, .right {
  height: 500px;
  padding: 4.8rem 4.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  background-color: var(--orange);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mid {
  background-color: var(--cyan);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.right {
  background-color: var(--dark-cyan);
  border-radius: 8px;
}

.img-container-1, .img-container-2, .img-container-3 {
  position: relative;
}

/******************* HEADER IMAGE ******************/

.circle {
  background-color: #000;
  opacity: 0.2;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.img-container-1 {
  background-image: url(./images/icon-sedans.svg);
  background-repeat:no-repeat;
}

.img-container-2 {
  background-image: url(./images/icon-suvs.svg);
  background-repeat:no-repeat;
}

.img-container-3 {
  background-image: url(./images/icon-luxury.svg);
  background-repeat:no-repeat;
}

.car-1, .car-2, .car-3 {
  width: 4.4rem;
}

/******************* BUTTON ******************/

button {
  font-family: 'Lexend Deca', sans-serif;
  height: 4.8rem;
  width: 14.6rem;
  border-radius: 24px;
  border: none;
}

button:hover {
  background-color: transparent;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.button-1 {
  color: var(--orange);
}

.button-2 {
  color: var(--cyan);
}

.button-3 {
  color: var(--dark-cyan);
}

/************* MEDIA SCREEN **************/

@media screen and (max-width: 375px) {

  body {
    position: relative;
    height: initial;
  }

  .left, .mid, .right {
    border-radius: 0;
  }

  .container {
    flex-direction: column;
    width: 327px;
    margin: 10px 0;
  }

  .left, .mid {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 450px;
  }

  .mid {
    margin-top: -8px;;
  }

  .right {
    height: 442px;
    margin-top: -8px;
    border-radius: 8px;
  }

}