@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

/* CSS TABLE OF CONTENTS 
    1. GENERAL
      A. COLOR VARIABLES
    2. MAIN
      A. TOP CONTAINER
      B. BOTTOM CONTAINER
    3. FOOTER
    4. MOBILE
*/

/*************************************/ 
/************** GENERAL **************/
/*************************************/ 

* {
/*     outline: 1px solid red;
 */}

:root {
    font-size: 10px;
    font-family: 'Barlow', sans-serif;
       
    /* Color Variables */
    --orange: #f16718;       
    --lightOrange: #ff9b62;
    --blue: #162542;
    --lightBlue: #7b8bad; 
    --blueGray: #e8eff2;
    --white: #ffffff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: 58px repeat(3, 480px) 26px;
  gap: 83px;
  width: 1440px;
  padding: 55px 165px;
}

/*************************************/ 
/************** HEADER ***************/
/*************************************/ 

/* #region HEADER */

header {
  margin: auto;
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tm {
  width: 40px;
  height: 40px;
}

.header-button {
  min-width: 175px;
  height: 100%;
  background-color: #E8EFF2;
  border: none;
  border-radius: 8px;

}

/* #endregion */

/*************************************/ 
/*************** MAIN ****************/
/*************************************/ 

/* #region MAIN */

/* #region TOP */
.top {
  height: 480px;
  width: 100%;
  background-color: blue;
}
/* #endregion */

/* #region MIDDLE */
.middle {
  background-color: green;
}
/* #endregion */

/* #region BOTTOM */
.bottom {
  background-color: yellow;

}
/* #endregion */

/* #endregion */

/*************************************/ 
/************** FOOTER ***************/
/*************************************/ 

/* #region FOOTER */

footer {
  background-color: gray;
}

/* #endregion */