@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Prompt:wght@100;200;300;400;500;600;700&display=swap');

* {
/*     outline: 1px solid red;
 */}

:root {
    font-size: 10px;
    font-family: 'Overpass', sans-serif;

    /********************************
    *********** VARIABLES ***********
    ********************************/

    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

.hidden {
    display: none;
}

body {
    background-color: var(--very-dark-blue);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

a {
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


    /********************************
    ********** FORM ELEMENT *********
    ********************************/

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: hidden;
    background: linear-gradient(hsl(213, 26%, 15%), hsl(216, 12%, 13%));
    filter: drop-shadow(0 3px 2px rgb(24, 24, 24));
    height: 41.6rem;
    width: 41.2rem;
    border-radius: 20px;
}

form > * {
    margin: 0 3.5rem;
    width: calc(100% - 7rem);
}

.image-container {

}

.form-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.feedback-paragraph {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--light-gray);
    margin-top: -2rem;
}

.star-img {
    background-color: hsl(213, 19%, 18%);
    filter: drop-shadow(0 3px 2px rgb(24, 24, 24));
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
}   

.numbers-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.1rem;
    margin-top: -1rem;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--medium-gray);
    border-radius: 32px;
    height: 5.1rem;
    width: 5.1rem;
    background-color: hsl(213, 19%, 18%);
}

.rating:hover {
    background-color: var(--light-gray) !important;
    color: var(--white) !important;
}

.submit-button {
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--white);
    color: var(--orange);
    letter-spacing: 0.2rem;
    font-family: 'Overpass', sans-serif;
    border: none;
    border-radius: 24px;
    cursor:pointer;
}


    /********************************
    *********** THANK YOU ***********
    ********************************/


    /********************************
    ********** ATTRIBUTION **********
    ********************************/

    .attribution {
        color: white;
        position: absolute;
        bottom: 0;
    }

    