@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/********** GENERAL **********/

:root {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
  
    --blue: hsl(227deg, 92%, 58%);
    --gunmetal: hsl(215deg, 31%, 21%);
    --dark-electric-blue: hsl(215deg, 17%, 45%);
    --borders: hsl(200deg, 24%, 88%);
    --pure-white: hsl(0deg, 0%, 100%);

  }
  
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--pure-white);
    color: var(--gunmetal);
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 37.5rem;
    width: 100%;
  }