@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* CSS TABLE OF CONTENTS 
    1. GENERAL
      A. COLOR VARIABLES
    2. MAIN
    3. FOOTER
*/

/*************************************/ 
/************** GENERAL **************/
/*************************************/ 

/** Mobile - 375px **/
/** Desktop - 1440px **/

:root {

  font-size: 10px;
  font-family: 'Karla', sans-serif;

  /********** COLOR VARIABLES **********/

  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);

}

* {
  outline: 1px solid red;
}
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  height: 100vh;
  width: 100%;
}



/*************************************/ 
/*************** MAIN ****************/
/*************************************/ 

main {
  width: 635px;
  height: 475px;
  display: grid;
  grid-template-rows: 216px 259px;
}

.top {

}

.bottom {
  display: grid;
  grid-template-columns: 50% 50%;

}


/*************************************/ 
/************** FOOTER ***************/
/*************************************/ 

footer {
  position: absolute; 
  bottom: 2rem;
}