@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* CSS TABLE OF CONTENTS 
    1. GENERAL
      A. COLOR VARIABLES
    2. MAIN
    3. FOOTER
*/

/*************************************/ 
/************** GENERAL **************/
/*************************************/ 

/** Mobile - 375px **/
/** Desktop - 1440px **/

:root {

  font-size: 10px;
  font-family: 'Karla', sans-serif;

  /********** COLOR VARIABLES **********/

  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);

}

* {
/*   outline: 1px solid red;
 */}
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  height: 100vh;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: var(--blue);
}

/*************************************/ 
/*************** MAIN ****************/
/*************************************/ 

main {
  width: 635px;
  height: 475px;
  display: grid;
  grid-template-rows: 216px 259px;
  filter: drop-shadow(0 5px 3px gray);
}

  /********** TOP CONTAINER **********/

  .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .top > * {
    margin: 0 4rem;
  }

  .title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--cyan);
    margin-top: 4rem;
  }

  .offer {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--yellow);
  }

  .offer-text {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    color: var(--blue);
    line-height: 26px;
  }

  /******** BOTTOM CONTAINER ********/

  .bottom {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /******** BOTTOM-LEFT CONTAINER ********/

  .bottom-left {
    background-color: var(--cyan);
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem;
  }

  .subscription {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--gray);
    line-height: 2.1rem;
  }

  .price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .amount {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--gray);
    margin-right: 1rem;
  }

  .per-month {
    font-size: 1.6rem;
    color: hsl(204, 43%, 84%);
    line-height: 2.6rem;
  }

  .price-description {
    font-size: 1.6rem;
    color: var(--gray);
  }

  .sign-up {
    height: 4.8rem;
    background-color: var(--yellow);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.6rm;
    font-weight: 700;
  }



  /******** BOTTOM-RIGH CONTAINER ********/

  .bottom-right {
    border-bottom-right-radius: 8px;
    background-color: hsl(179, 62%, 53%);
    ;
    
  } 

/*************************************/ 
/************** FOOTER ***************/
/*************************************/ 

footer {
  position: absolute; 
  bottom: 2rem;
  
}