@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&display=swap');

/********** GENERAL **********/

* {
  outline: 1px solid red;
}

:root {
  font-size: 10px;
  font-family: 'Chivo', sans-serif;

  --green: hsl(157deg, 74%, 62%);
  --gray-blue: hsl(225deg, 26%, 23%);
  --blue: hsl(224deg, 35%, 11%);
  --white: hsl(0deg, 0%, 100%);
  --light-purple: hsl(225deg, 21%, 45%);
  --light-gray: hsl(225deg, 40%, 83%);  
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--blue);
  color: var(--white);
}

button {
  background-color: var(--green);
  border: none;
  border-radius: 24px
}

button:hover {
  background-color: #b3ffe2;
}

em {
  color: var(--green);
}

/********** GENERAL **********/

@media (min-width: 400px) {
  .pod-image {
    margin-top: 5rem; 
    margin-left: 3.9rem;
  }
}

@media (min-width: 900px) {
  .pod-image {
    margin-top: 10.2rem;
    margin-left: 16.5rem;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 66.7rem; 
  max-width: 37.5rem;
  width: 100%;
}

@media (min-width: 400px) {
  .container {
    align-items: flex-start;
    min-height: 102.4rem;
    max-width: 76.8rem;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 127.5rem;
    min-height: 90rem;
  }
}

.container::after {
  content: '';
  background-image: url(./assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
}

@media (min-width: 400px) {
  .container::after {
    background-image: url(./assets/tablet/image-host.jpg);
    background-size: initial;
    left: 27.7rem;
    opacity: 1;
    max-width: 500px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 900px) {
  .container::after {
    background-image: url(./assets/desktop/image-host.jpg);
    max-width: 88.8rem;
    max-height: 64rem;
    left: 64rem;
    top: 13rem;
    background-size: contain;
  }
}

section {
  min-height: 39.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32.7rem;
  width: 100%;
}

@media (min-width: 400px) {
  section {
    min-height: 52.9rem;
    height: 100%;
    max-width: 63.5rem;
    width: 100%;
    margin-top: 15.2rem;
    margin-left: 3.9rem;
    background-color: var(--blue);
  }
}

@media (min-width: 900px) {
  section {
    min-height: 50.9rem;
    margin-left: 16.5rem;
    margin-top: 10.3rem;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 17.3rem;

}

@media (min-width: 400px) {
  .bottom {
    flex-direction: column-reverse;
  }
}

/********** TITLE **********/

.title {
  font-weight: 100;
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  max-width: 32.7rem;
}

@media (min-width: 400px) {
  .title {
    margin-top: 9.3rem;
    font-size: 4.8rem;
    line-height: 5.6rem;
    max-width: inherit;
    text-align: left;
  }
}

/********** TITLE-TEXT **********/

.title-sub-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--light-gray);
  max-width: 32.7rem;
}

@media (min-width: 400px) {
  .title-sub-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    max-width: 44.5rem;
    font-weight: 100;
  }
}

/********** PODCAST LOGOS **********/

.podcast-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 32.7rem;
  width: 100%;
}

@media (min-width: 400px) {
  .podcast-container {
    max-width: 53.6rem;
    position: relative;
  }
}

.logo {
  max-height: 1.7rem;
  opacity: .5;
}

@media (min-width: 400px) {
  .logo {
    max-height: 2.9rem;
  }
}

.google-podcast {
  max-height: 1.1rem;
}

@media (min-width: 400px) {
  .google-podcast {
    max-height: 1.8rem;
  }
}

.pocket-podcast {
  max-height: 1.5rem;
}

@media (min-width: 400px) {
  .pocket-podcast {
    max-height: initial;
  }
}

@media (max-width: 320px) {

  .podcast-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: r1.7em;
    width: fit-content;
  }

}

/********** INPUT **********/

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32.7rem;
  width: 100%;
  height: 10.8rem;
  opacity: 1;
}

@media (min-width: 400px) {
  .form {
    max-width: 42.7rem;
    height: 5.6rem;
  }
}

input {
  position: relative;
  height: 4.6rem;
  border: none;
  border-radius: 2.4rem;
  background-color: hsl(225deg, 26%, 23%);
  padding-left: 4rem;
  color: var(--white);
  
}

@media (min-width: 400px) {
  input {
    max-width: 38.7rem;
    width: 100%;
    min-height: 5.6rem;   
     
  }
}

input::placeholder {
  font-family: 'Chivo', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--white);
  opacity: 0.5;
}

.button {
  height: 4.6rem;
  color: var(--blue);
  font-weight: 600;
  width: 100%;
}

@media (min-width: 400px) {
  .button {
    min-height: 4.6rem;
    max-width: 16.2rem;
    width: 100%;
    position: absolute;
    right: 0;
    top: 6px;
  }
}

/********** RANDOM **********/

@media (min-width: 400px) {
  .podcast-container:after {
    content: '';
    width: 23.2rem;
    height: 10.4rem;
    position: absolute;
    top: 15.3rem;
    background-image: url(./assets/desktop/bg-pattern-dots.svg);
  }
}

@media (min-width: 900px) {
  
}