@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
/*   outline: 1px solid red;
 */}

:root {
  font-size: 10px;
  font-family: 'Outfit', sans-serif;

  /******* COLORS *******/

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --blue-background: hsl(217, 54%, 11%);
  --blue-card: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-background);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  max-width: 302px;
  padding: 24px;
  background-color: var(--blue-card);
  border-radius: 15px;
}

p {
  font-size: 1.8rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}



/************ MAIN ************/

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 302px;
  background-color: white;
  margin-bottom: 24px;
  border-radius: 8px;
}

.image-container:hover::after {
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: var(--cyan);
  opacity: 50%;
  border-radius: 8px;
}

.e-image {
  width: 304px;
  height: 304px;
  border-radius: 8px;
}

.view-image {
  position: absolute;
  border-radius: 8px;
  height: 100%
  display: none;
}

.view-image:hover {
  display: initial;
  position: absolute;
  z-index: 2;
  background-color: var(--cyan);
}



/* .equilibrium-img {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.equilibrium-img:hover {

} */

.eq-title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: var(--white);
  margin-bottom: 16px;
}

.eq-description {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;
  color: var(--soft-blue);
  margin-bottom: 24px;
}

/************ CONTAINERS ************/

.bid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--blue-line);
}

.price-container, .time-container, .profile-container {
  display: flex;
}

.price-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.etherum-icon {
  height: 18px;
  width: 11px;
}

.price {
  color: var(--cyan);
  margin-left: 7px;
  line-height: 20px;
}

.time-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--soft-blue)
}

.time-left {
  margin-left: 7px;
}

.profile-container {
  margin-top: 16px;
  align-items: center;
}

.profile-image {
  height: 33px;
  width: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 16px;
}

.creation-by {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
  color: var(--soft-blue);

}