@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  font-size: 10px;
  font-family: 'Manrope', sans-serif;

  --light-blue-gray: hsl(210, 46%, 95%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --desaturate-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue-gray);
}

/********** CARD **********/

.card {
  max-width: 32.7rem;
  min-height: 51.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

/********** IMAGE **********/

.drawers-image {
  min-width: 32.7rem;
  max-width: 32.7rem;
  max-height: 20rem;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/********** TITLE **********/

.title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  max-width: 26.3rem;
  margin-top: 3.6rem;
  color: var(--dark-gray-blue);
}

.sub-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.012rem;
  color: var(--grayish-blue);
  max-width: 26.3rem;
  margin-top: 1.3rem;
}

/********** PROFILE CONTAINER-LIGHT **********/

.profile-container-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  max-width: 26.3rem;
  width: 100%;
  margin-top: 3.2rem;
}

/********** PROFILE-LIGHT **********/

.profile-image {
  max-width: 40px;
  border-radius: 24px;
}

.name {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--dark-gray-blue);
}

.date {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--grayish-blue);
}

.share-icon-light {
  height: 32px;
  width: 32px;
  background-color: var(--light-blue-gray);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********** PROFILE CONTAINER DARK **********/

.profile-container-dark  {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;
  margin-top: 3.2rem;
  background-color: var(--dark-gray-blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/********** PROFILE-DARK **********/

.share-container-dark {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 207px;
}

.share {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  color: var(--desaturate-dark-blue);
  margin-left: 3.2rem;
}

.share-icon-dark {
  margin-right: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--desaturate-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.dark-image {
  background-color: var(--desaturate-dark-blue);
}

