@font-face {
    font-family: 'Fraunces', serif;
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf);
}

:root {
  font-size: 10px;

  /* Primary */
  --purple: #24053e;
  --green: #44ffa1;
  --gray-purple: #584d62;
  --white-gray: #fcf8ff;
  --white: #fff;
}

* {
  outline: 1px solid red;  
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 37.5rem;
  background-color: var(--white);
}

@media (min-width: 800px) {
  main {
    min-width: 76.8rem;
    display: flex;
    flex-direction: column;
  }
}

button {
    background-color: var(--green);
    color: var(--purple);
}

button:hover {
    background-color: var(--purple);
    color: var(--green)
}

/* HEADER */

header {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semi-nav {
    width: 34.3rem;
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.header-link {
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
    font-size: 1.6rem;
    font-family: 'Manrope';

}

.title {
    font-size: 5rem;
    color: white;
    text-align: center;
}

