@font-face {
    font-family: 'Fraunces';
    src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf);
}

:root {
  font-size: 10px;
  font-family: 'Fraunces', Arial;

  /* Primary */
  --purple: #24053e;
  --green: #44ffa1;
  --gray-purple: #584d62;
  --white-gray: #fcf8ff;
  --white: #fff;
}

* {
/*   outline: 1px solid red;  
 */  margin: 0;
  padding: 0;
}

html {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
  max-width: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 242, 242);
}

@media (min-width: 800px) {
    body {
    }
}

main {
  max-width: 37.5rem;
  height: 238rem;
  background-color: var(--white);
  
}

@media (min-width: 800px) {
  main {
    min-width: 76.8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

button {
    background-color: var(--green);
    color: var(--purple);
}

button:hover {
    background-color: var(--purple);
    color: var(--green)
}

/*************************************************
********************* HEADER *********************
**************************************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    header {
        max-width: 768px;
        position: relative;
    }   
}

.background {
    position: absolute;
    height: 58.1rem;
    width: 37.5rem;
    background-color: var(--purple);
    display: inline-block;
    clip-path: circle(140% at 50% -50%);
    z-index: 1;
}

@media (min-width: 800px) {
    .background {
        width: 90.8rem;
        height: 100rem;
        clip-path: circle(110% at 50% -50%);

    }    
}

.semi-nav {
    width: 34.3rem;
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

@media (min-width: 800px) {
    .semi-nav {
        width: 68.9rem;
    }
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Manrope';
    border-bottom: 3px solid var(--green);
}

.title {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-top: 6rem;
    z-index: 1;
    line-height: 5.5rem;
}

@media (min-width: 800px) {
    .title {
        width: 40.3rem;
        font-size: 6rem;;
    }
}

#green-underline {
    border: none;
    text-decoration: underline;
    text-decoration-color: #44ffa1;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}    

.learn-more {
    margin-top: 3rem;
    width: 13.3rem;
    height: 5.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    z-index: 1;
}

.hero-img {
    width: 32rem;
    margin-top: 6.5rem;
    z-index: 1;
}

@media (min-width: 800px) {
    .hero-img {
        width: 54.1rem;
    }
}

.squigle-left {
    display: none;
}

@media (min-width: 800px) {
    .squigle-left {
        display: block;
        color: var(--green);
        z-index: 2;
        position: absolute;
        left: -230px;
        top: 70px;
    }   
}

.squigle-right {
    display: none;
}

@media (min-width: 800px) {
    .squigle-right {
        display: block;
        color: var(--green);
        z-index: 2;
        position: absolute;
        left: 700px;
        top: 220px;
    }
}

/*************************************************
***************** SECTION - TOP ******************
**************************************************/

.top-section {
    position:relative;
    top: -100px;
    height: 136rem;
    width: 37.5rem;
    background-color: var(--white-gray);
    clip-path: circle(165% at 50% -50%);
    z-index: 0;
}

@media (min-width: 800px) {
    .top-section {
        width: 76.8rem;
        top: -200px;
        clip-path: circle(195% at 50% -50%);
    }    
}


.main-points {
    position: relative;
    top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 800px) {
    .main-points {
        top: 200px;
    }
}

.n1, .n2, .n3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34.3rem;
    margin-top: 50px;
}

@media (min-width: 800px) {
    .n1, .n2, .n3 {
        flex-direction: row;
        width: 57.3rem;
    }
}

.number {
    width: 4.8rem;
    height: 4.6rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

@media (min-width: 800px) {
    .number {
        
    }
}

@media (min-width: 800px) {
    .point-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.point-heading {
    font-size: 2.8rem;
    color: var(--purple);
    margin-bottom: 2rem;
}

.point-text {
    font-size: 1.6rem;
    font-family: 'Manrope';
    font-weight: 100;
    color: #584D62;
    margin-bottom: 2rem;
    line-height: 3rem;
}

/*************************************************
***************** SECTION - BOT ******************
**************************************************/

.bottom-section {
    position: relative;
    top: -400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-img {
    width: 28.1rem;
}

.founder-info-container {
    height: 37.5rem;
    width: 34.3rem;
    background-color: var(--purple);
    top: -50px;
    position: relative;
    color: var(--white-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-title {
    font-size: 3.2rem;
    margin-top: 3rem;
}

.founder-text {
    font-size: 1.6rem;
    font-family: 'Manrope';
    line-height: 3rem;
    text-align: center;
    width: 28.1rem;
    margin-top: 2rem;
}

.apply-button {
    width: 17.2rem;
    height: 5.5rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    border: none;
}

/*************************************************
******************** FOOTER **********************
**************************************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -37rem;
    
}
.footer-logo {
    width: 9.5rem;
}

.footer-links {
    margin-top: 6rem;
    width: 11.6rem;
    display: flex;
    justify-content: space-between;
}