@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
*/

:root {
  font-size: 10px;
  font-family: 'Inter', sans-serif;

  --blue: hsl(233, 47%, 7%);
  --des-blue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slight-transparent-white: hsla(0, 0%, 100%, 0.6);

  color: var(--white);
}

body {
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  max-width: 1110px;
  grid-template-columns: 1fr 1fr;
  background-color: var(--des-blue);
  overflow: hidden;
  border-radius: 8px;
}

.left {
  padding: 7.5rem;
  min-width:fit-content;
}

.right {
  max-width: 540px;
}



@media screen and (max-width: 400px) {

  .card {
    flex-direction: column-reverse;
  }




}