@import url(./styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
*/

:root {
  font-size: 10px;

  --blue: hsl(233, 47%, 7%);
  --des-blue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --slight-transparent-white: hsla(0, 0%, 100%, 0.6);

  color: var(--white);
}